

.card{
    animation-name: slideIn;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }